.list {
  list-style: none;
}

.item {
  border: 1px solid var(--gray-25);
}

.item + * {
  margin-top: 24px;
}

.button {
  composes: spaceBetween from "styles/utils.module.css";
	width: 100%;
  padding: 20px 16px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.button[aria-expanded="true"] .icon {
	transform: rotate(180deg);
}

.icon {
	transition: transform 0.5s;
}

.answer {
	overflow: hidden;
  display: none;
}

.answer_inner {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .answer_inner {
    padding: 18px 0;
  }
}
.answer_text {
  font-size: 16px;
}
