.flexContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-jump);
  flex-wrap: wrap;
}

.eachPost figure {
  position: relative;
  aspect-ratio: 16/9;
}

.image {
  object-fit: cover;
}

.title {
  margin-top: 0.5em;
  font-size: var(--small-heading3);
}
